{% extends 'base.html'%}

{% block title%}
    <title>Book Store</title>
{%endblock%}

{% block content%}
    {%if book_list%}
            <form action="" method="post">
                {% comment %} {%for field in form%}
                    {{}}
                {%endfor%} {% endcomment %}
                {{form}}
                {%csrf_token%}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">submit</button>
                {% comment %} {{form.as_p}} {% endcomment %}
            </form>
            {% for book in book_list %}
                <a href={% url 'book-detail' slug=book.slug%}>
                    <h6>{{book.name}}</h6>
                </a>
            {%endfor%}
    {%else%}
        <h3>No Books To Show</h3>
    {%endif%}

{%endblock%}
