{% extends 'base.html'%}

{% block title%}
    <title>Your Orders</title>
{%endblock%}


{% block content%}
    {%if order_list%}
        {%for order in populated%}
            <div class="card">
                <div class="card-body">
                    {%for key, value in order.items%}
                        {%if key == 'books'%}
                                {%for book in value%}
                                    <a href="{% url 'book-detail' slug=book.slug%}" class="card-link">{{book.name}} </a>
                                {%endfor%}
                        {%elif key == 'orderded'%}
                             <h5 class="card-title ">{{value}}</h5>
                        {%elif key == 'status'%}
                            <h6 class="card-subtitle mb-2 text-muted">
                                {%if value == 0%}
                                    <a>Not Completed</a>
                                {%else%}
                                    <p>Completed</p>
                                {%endif%}
                            </h6>
                        {%endif%}
                    {%endfor%}
                    <div class="text-right">
                        <a href="{%url 'order-del' order.id %}" class="btn btn-danger">Delete</a>
                        <a href="#" class="btn btn-primary ">Complete Order</a>
                    </div>
                </div>
            <div>
        {%endfor%}
    {%else%}
        <h3>No Books To Show</h3>
    {%endif%}

{%endblock%}
